
.bg{
    background-image: url(../img/56.jpg);
    height: 745px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardcust{
    padding-top: 130px;
}